#wrapper {
    width: 100%;
    max-width: 1024px;
    padding: 2%;
    margin: 0 auto;
}

header {
    top: 0;
    padding: 2%;
}

.logo {
    width: 100px;
}

body {
    font: 12pt 'Consolas', serif;
    color: #d26664;
}

input {
    font: 12pt 'Consolas', serif;
}

ul {
    list-style: none;
}

.username {
    height: 30px;
    width: 200px;
}

.password {
    height: 30px;
    width: 200px;
}

.message {
    height: 30px;
    width: 200px;

    resize: none;
}

.user-message {
    list-style: none;
}

nav a {
    text-decoration: none;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    list-style-position: inside;
    font: 12pt 'Consolas', serif;
    padding: 10px;
}

.top-menu li {
    display: inline-block;
    margin: 0;
}

.top-menu a:hover {
    background: #d26664;
    color: #ffffff;
}

.top-menu a:focus {
    background: #d26664;
    color: #ffffff;
}

.top-menu a {
    padding: 10px 30px;
    color: #7e7e7e;
}

.top-menu a:active {
    background: #d26664;
    color: #7e7e7e;
}

.submitBtn, .enterBtn {
    font: 12pt 'Consolas', serif;

    height: 30px;
    width: 100px;

    border: none;
    outline: none;

    color: #ffffff;
    background: #d26664;
}

.regBtn {
    font: 12pt 'Consolas', serif;

    height: 30px;
    width: 200px;

    border: none;
    outline: none;

    color: #ffffff;
    background: #d26664;
}

.submitBtn:active, .regBtn:active, .enterBtn:active {
    color: #7e7e7e;
}

.success {
    font: 16pt 'Consolas', bold;
    color: #4b9cce;
}

.error {
    font: 16pt 'Consolas', bold;
    color: #ffb200;
}

footer {
    background: #d26664;
    color: #ffffff;
    font-size: 12pt;
    position: absolute;
    bottom: 0;
}

#footer {
    width: 980px;
    height: 70px;

    max-width: 1024px;
    padding: 2%;
    margin: 0 auto;
}